@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Staatliches&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  text-decoration: none;
  list-style-type: none;
  border: none;
}
.box {
  /* max-width: 75rem; */
  width: 90%;
  margin: 60px auto 0;
}
:root {
  --main-color: #1f486b;
  --blue: #02569f;
  --orange: #ea702d;
  --main-font: "Inter", sans-serif;
  --red: #813e19;
}
body {
  background-color: var(--body-color);
  font-family: Inter;
  overflow-x: hidden;
  color: rgb(46, 46, 46);
}

swiper-container {
  width: 100%;
  height: 100%;
  padding-top: 3.125rem;
  padding-bottom: 3.125rem;
}

swiper-slide {
  background-position: center;
  background-size: cover;
  width: 800px;
  height: 475px;
  margin: 0 32px;
  border-radius: 16px;
}

swiper-slide img {
  display: block;
  width: 100%;
  height: auto;
}
/* Navbar */

nav.navbar {
  position: sticky;
  top: 0;
  z-index: 99999;
  /* padding-bottom: 32px; */
  transition: ease-out 0.9s;
  padding: 16px 0;
}

nav.navbar.scrolled {
  background-color: #fff;
  box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.1);
}

nav .nav-wrapper {
  display: flex;
  justify-content: space-between;
  margin: 0 42px;
  width: 100%;
  align-items: center;
  /* background-color: red; */

  .midnavbar {
    display: flex;
    align-items: center;
    gap: 2rem;

    ul {
      display: flex;
      gap: 1rem;
      align-items: center;
      margin: auto;
    }
    ul li a {
      font-size: 1.25rem;
      color: var(--blue);
      list-style: none;
      text-decoration: none;
      transition: linear 0.2s;
    }
    a:hover {
      color: var(--orange);
    }
    ul li a.active {
      color: var(--orange);
    }
  }
  .login-button {
    display: flex;
    gap: 0.5rem;
    button {
      padding: 8px 1.5rem;
      font-size: 1.125rem;
      border-radius: 0.5rem;
      background-color: var(--blue);
      a {
        text-decoration: none;
        color: #fff;
      }
    }
    .rounded {
      background-color: #fff;
      border: 0.0625rem solid var(--blue);
      a {
        color: #02569f;
      }
    }
  }
}
/* mobile nav */
nav.navbar .nav-wrapper .login-button .hamburger {
  position: relative;
  display: block;
  width: 35px;
  cursor: pointer;
  appearance: none;
  background: none;
  outline: none;
  border: none;
  /* background-color: red; */
}
nav.navbar .nav-wrapper .login-button .hamburger .bar,
nav.navbar .nav-wrapper .login-button .hamburger:after,
nav.navbar .nav-wrapper .login-button .hamburger:before {
  content: "";
  display: block;
  width: 100%;
  height: 5px;
  background-color: var(--main-color);
  margin: 6px 0;
  transition: 0.4s;
}
nav.navbar .nav-wrapper .login-button .hamburger.is-active:before {
  transform: rotate(-45deg) translate(-8px, 6px);
}
nav.navbar .nav-wrapper .login-button .hamburger.is-active:after {
  transform: rotate(45deg) translate(-9px, -8px);
}
nav.navbar .nav-wrapper .login-button .hamburger.is-active .bar {
  opacity: 0;
}
nav.mobile-nav {
  position: fixed;
  top: -100%;
  width: 100%;
  min-height: 100vh;
  display: block;
  z-index: 989;
  background-color: #e7e7e7;
  padding-top: 86px;
  transition: 0.4s;
  a {
    display: block;
    text-align: center;
    align-items: center;
    text-decoration: none;
    padding: 20px;
    color: var(--main-color);
    font-size: 16px;
    transition: 0.2s linear;
  }
  a:hover {
    background-color: #ffffff;
  }
  .button {
    margin: 16px 16px;
  }
  .button a {
    padding: 12px 1.5rem;
    font-weight: 500;
    font-size: 18px;
    transition: transform 0.2s ease-in-out;
    border: 1px solid var(--main-color);
    border-radius: 8px;
  }

  .button a:hover {
    background-color: var(--main-color);
    color: #fff;
  }
  .button.login a {
    background-color: var(--main-color);
    color: #fff;
  }
  .button.login a:hover {
    opacity: 0.7;
  }
}
nav.mobile-nav.is-active {
  top: 0;
}
/* hero section */

.home .hero-wrapper {
  display: flex;
  height: 568px;
  /* position: ; */
  background: linear-gradient(180deg, rgba(218, 216, 215, 0.22) 0%, rgba(7, 30, 50, 0.53) 100%), url(./img/konten-1.png) lightgray 50% / cover no-repeat;

  .content-left {
    /* position: ; */
    display: flex;
    height: 100%;
    width: 549px;
    background-color: rgba(31, 72, 107, 0.7);
    align-items: center;
    padding: 24px;

    .title {
      display: flex;
      flex-direction: column;
      justify-content: center;
      margin: auto;
      text-align: center;

      h1 {
        color: #fff;

        span {
          color: var(--orange);
        }
      }
      .search-field {
        margin-top: 24px;
        gap: 16px;

        .btn {
          background-color: var(--orange);
          padding: 8px;
          margin-top: 16px;
          color: #fff;
        }
      }
    }
  }

  .form-search {
    gap: 8px;
    button {
      border-radius: 8px;
      padding: 8px 12px;
      background-color: var(--orange);
    }
  }
}
/* swiper-1  */
.ads.box {
  width: 100%;
}
/* Property */

section.property {
  .content-left {
    width: 50%;
    .tab {
      display: grid;
      grid-template-columns: 1fr 1fr;

      .rekomendasi {
        height: 60px;
        gap: 8px;
        background-color: var(--main-color);
        cursor: pointer;
      }
      .rekomendasi:hover {
        background-color: #8899a8;
      }

      img {
        width: 32px;
      }
    }
    .virtual {
      height: 60px;
      background-color: #e6eef5;
      cursor: pointer;

      img {
        width: 32px;
      }
    }
    .virtual:hover {
      background-color: #8899a8;
    }
  }
  .konten-1 {
    height: 550px;
    background-color: var(--blue);
    display: flex;
    .main {
      margin: auto 32px;
    }
  }
  .konten-2 {
    height: 550px;
    background-color: var(--orange);
    display: flex;
    .main {
      margin: auto 32px;
    }
    .main .title {
      span {
        font-weight: 700;
        color: var(--main-color);
      }
    }
  }
  .konten-3 {
    /* width: 100%; */
    .col {
      border: 1px solid var(--orange);
      height: 200px;
      background-color: #fdf1ea;
    }
    .col:hover {
      color: #fff;
      background-color: #d56629;
    }
    .kotalain {
      display: flex;
      background-color: var(--main-color);
      color: #fff;
      justify-content: center;
      align-items: center;
    }
  }
  .kpr {
    height: max-content;
    background-color: #f19f72;
    padding-top: 32px;

    .wrapper {
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      align-items: center;
      padding: 0 24px;
.btn {
  font-size :24px;
}
      .btn:hover {
        opacity: 0.7;
      }
    }
    .form-wrapper {
      display: flex;
      flex-direction: column;
      justify-content: center;
      width: 100%;
    }
    /* .form-wrapper .form-control {
      font-size: 20px;
      width: 100%;
    } */
    .form-wrapper .form-select {
      width: 200px;
    }
    #inputGroupSelect02 {
      width: 500px;
    }
  }
  .content-right {
    .fasilitas {
      gap: 16px;
    }
    .card .d-flex {
      align-items: center;
    }
    .card .d-flex h1 {
      font-size: 32px;
    }
  }
}

/* footer */
.footer-wrapper {
  display: flex;
  justify-content: space-around;
  background-color: var(--main-color);
  border-radius: 8px;
  height: 300px;
  padding: 42px;
  color: #fff;
  .satu {
    width: 400px;
  }
  .empat {
    display: flex;
    flex-direction: column;
  }
}
.carousel-item {
  background-position: center;

  img {
    max-width: fit-content;
    object-fit: cover;
    height: 500px;
  }
}
/* Rspossive */
@media (min-width: 767px) {
  nav.mobile-nav {
    display: none;
  }

  nav.navbar .nav-wrapper .login-button .hamburger {
    display: none;
  }
}
@media (max-width: 767px) {
  .ads.box {
    width: 90%;
  }
  nav.navbar .midnavbar .navbar-item,
  nav.navbar button {
    display: none;
  }
  .home .hero-wrapper {
    .content-left {
      width: 100%;
    }
  }
  /* section properti */
  section.property {
    flex-direction: column;
    .content-left {
      width: 100%;
      order: 1;
    }
    .content-right {
      order: 2;
      width: 100%;
    }
    .konten-3 {
      margin: 0;
      background-color: rebeccapurple;
      width: 100%;
    }
    .kpr {
      #inputGroupSelect02 {
        width: 300px;
      }
      .wrapper {
        display: flex;
        flex-direction: column;
        padding: 0 16px;
        width: 100%;

        .btn {
          font-size :16px;
        }
      }
    }
    .content-right {
      .fasilitas {
        flex-wrap: wrap;
        margin-bottom: 0;
      }
      .card .image-wrapper {
        flex-wrap: wrap;
        img {
          width: 24px;
        }
        h5 {
          font-size: 16px;
        }
      }
      .card .btn h5 {
        font-size: 16px;
      }
      .card .d-flex h1 {
        font-size: 18px;
      }
    }
  }
  /* KPw */

  /* footer */
  .footer-wrapper {
    padding: 24px;
    flex-direction: column;
    height: 500px;
    .empat {
      order: 1;
      margin-bottom: 24px;
    }
    .satu,
    .dua,
    .tiga {
      order: 2;
      line-height: 105%;
    }
    img {
      width: 180px;
    }
  }
}
